'.source.python':
  #Logging
  'rospy.logdebug':
    'prefix': 'rospy.logd'
    'body': 'rospy.logdebug("${1:msg}", $2)'
  'logdebug':
    'prefix': 'logd'
    'body': 'rospy.logdebug("${1:msg}", $2)'
  'rospy.loginfo':
    'prefix': 'rospy.logi'
    'body': 'rospy.loginfo("${1:msg}", $2)'
  'loginfo':
    'prefix': 'logi'
    'body': 'rospy.loginfo("${1:msg}", $2)'
  'rospy.logwarn':
    'prefix': 'rospy.logw'
    'body': 'rospy.logwarn("${1:msg}", $2)'
  'logwarn':
    'prefix': 'logw'
    'body': 'rospy.logwarn("${1:msg}", $2)'
  'rospy.logerror':
    'prefix': 'rospy.loge'
    'body': 'rospy.logerr("${1:msg}", $2)'
  'logerror':
    'prefix': 'loge'
    'body': 'rospy.logerr("${1:msg}", $2)'
  'rospy.logfatal':
    'prefix': 'rospy.logf'
    'body': 'rospy.logfatal("${1:msg}", $2)'
  'logfatal':
    'prefix': 'logf'
    'body': 'rospy.logfatal("${1:msg}", $2)'

  # Publisher and Subscriber
  'subscriber':
    'prefix': 'Subs'
    'body': 'rospy.Subscriber("${1:topic_name}", ${2:msg_class}, ${3:callback})'
  'publisher':
    'prefix': 'Pub'
    'body': 'rospy.Publisher("${1:topic_name}", ${2:msg_class}, queue_size=$3)'

  # Initialization and Shutdown
  'roslib':
    'prefix': 'roslib'
    'body': 'import roslib; roslib.load_manifest("${1:YOUR_PACKAGE_NAME}")'
  'init_node':
    'prefix': 'init'
    'body': 'rospy.init_node("${1:my_node_name}", anonymous=${2:False})'
  'spin':
    'prefix': 'spin'
    'body': 'rospy.spin()'
  'shutdown':
    'prefix': 'shut'
    'body': 'rospy.is_shutdown()'
  'shutdown hooks':
    'prefix': 'on_shut'
    'body': 'rospy.on_shutdown(${1:my_hook})'

  #Services
  'service':
    'prefix': 'Serv'
    'body': 'rospy.Service("${1:service_name}", ${2:service_class}, ${3:handler})'
  'service proxy':
    'prefix': 'Servp'
    'body': 'rospy.ServiceProxy("${1:service_name}", ${2:service_class})'
  'wait':
    'prefix': 'wait'
    'body': 'rospy.wait_for_service("${1:service_name}")'

  #Node template
  'simple node':
    'prefix': 'node'
    'body': """
    class ${1: NodeClass}(object):
      def __init__(self):
        super(${1: NodeClass}, self).__init__()

    if __name__ == "__main__":
      rospy.init_node('${2:node_name}', anonymous=${3:False})
      node = ${1: NodeClass}()
      rospy.spin()

    """
