'scopeName': '.source.stage'
'name': 'stage'
'fileTypes': ['world', 'inc']

'patterns': [
  {
    'match': '\\s*(#).*$'
    'name': 'comment.line.number-sign'
  },
  {
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double.stage'
  },
  {
    'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
    'name': 'constant.numeric.stage'
  },
  {
    'match': '^\\s*\\b(include)\\s*("\\S*")'
    'captures':
      '1':
        'name': 'keyword.control.import.stage'
      '2':
        'name': 'string.quoted.double.stage'
    'name': 'meta.support.function.stage'
  },
  {
    'match': '^\\b(define)\\s+(\\w+)\\s+(\\w+)'
    'captures':
      '1':
        'name': 'keyword.control.stage'
      '2':
        'name': 'entity.name.function.stage'
      '3':
        'name': 'entity.name.type.stage'
    'name': 'meta.function.stage'
  },
  {
    'match': '\\s*\\b(name|resolution|paused|pause|interval_sim|speedup|interval_real|threads|quit_time|show_clock|show_clock_interval)\\b'
    'name': 'variable.parameter.stage'
  },
  {
    'match': '\\b(sensor|block|ranger|actuator|blobfinder|ranger|position|camera|wifi|gripper|fiducial|block|model|drive|block|origin|size|localization|localization_origin|center|rotate|scale|show_data|show_grid|show_flags|pose)\\b'
    'name': 'support.function.stage'
  },
  {
    'match': '^\\s*\\b(window|floorplan)\\b'
    'name': 'support.class.stage'
  },
  {
    'match': '\\s*\\b(gui_nose|gui_grid|gui_move|boundary|color|gui_outline|gripper_return|fiducial_return|ranger_return|obstacle_return|update_interval|color_rgba|bitmap|ctrl|fiducial_key|blob_return|mass|map_resolution|say|alwayson|stack_children)\\b'
    'name': 'variable.parameter.stage'
  }
]
